{% load static %}

<html>
  <head>
     <title>Musikwahl - Neuer Vorschlag</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <link rel="shortcut icon" href="{% static 'choosemusic/favicon.ico' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  </head>
  <body>
    <button onclick="window.history.back();" type="button"><- Zurück</button>

    <div class="container"><br>
      <center>
        <h2>Song einreichen</h2>
      </center>
    </div>

    <div class="container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
        {% if messages %}
         <ul class="messages">
             {% for message in messages %}
                 {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                 <div class="alert alert-info {% if message.tags %}{{ message.tags }}{% endif %}">
                     <strong>Erfolgreich! </strong> {{ message }}
                 </div>
                 {% endif %}
                 {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                 <div class="alert alert-danger {% if message.tags %}{{ message.tags }}{% endif %}">
                     <strong>Fehler! </strong> {{ message }}
                 </div>
                 {% endif %}
             {% endfor %}
         </ul>
        {% endif %}
      <form  action="" method="post">
        {% csrf_token %}
        <div class="form-group">
	      <label for="YouTube-Link des Songs">YouTube-Link:</label>
	      <input type="link" class="form-control" id="link" name="link" placeholder="Notwendig">
	    </div>
        <br>
        <center>
          <button type="submit" class="btn btn-success">Einreichen</button>
        </center>
      </form>
    </div>
    </div>
    </div>
  </body>
</html>
